# DataFrames "Graded" Assignment Ruben Tak

#### 1. Start a simple Spark Session

In [81]:
import pyspark
from pyspark.sql import SparkSession

In [82]:
spark = SparkSession.builder.appName('my_app').getOrCreate()

#### 2. (0.5p) Load the walmart_stock.csv and let Spark infer the data types

In [83]:
df = spark.read.csv('4.1. walmart_stock.csv', header=True, inferSchema=True)
df.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

#### 3. (0.25p) Display the column names

In [84]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### 3. (0.25p) Display the schema

In [85]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### 4. (0.25p) Display the first 3 columns

In [86]:
df.head(3)

[Row(Date=datetime.date(2012, 1, 3), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date=datetime.date(2012, 1, 4), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date=datetime.date(2012, 1, 5), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539)]

#### Use describe() to learn about the DataFrame.

In [87]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

#### 5. (1p) Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day

In [88]:
# Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day
df2 = df.withColumn('HV Ratio', df['High']/df['Volume'])
df2.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+--------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|            HV Ratio|
+----------+------------------+------------------+------------------+------------------+--------+------------------+--------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|4.819714653321546E-6|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|6.290848613094555E-6|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|4.669412994783916E-6|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|7.367338463826307E-6|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|8.915604778943901E-6|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|8.644477436914568E-6|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|9.351828421515645E-6|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994| 8.29141562102703E-6|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|7.712212102001476E-6|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|7.071764823529412E-6|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|1.015495466386981E-5|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|6.576354146362592...|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996| 5.90145296180676E-6|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|8.547679455011844E-6|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|8.420709512685392E-6|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|1.041448341728929...|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|8.316075414862431E-6|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|9.721183814992126E-6|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|8.029436027707578E-6|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|6.307432259386365E-6|
+----------+------------------+------------------+------------------+------------------+--------+------------------+--------------------+
only showing top 20 rows

#### 6. (0.5p) Which day did we had the highest value in High?

In [89]:
df.orderBy(df['High'].desc()).head(1)[0][0]

datetime.date(2015, 1, 13)

#### 7. (0.5p) What is the mean of the High column?

In [90]:
from pyspark.sql.functions import mean
df.select(mean('High')).show()

+-----------------+
|        avg(High)|
+-----------------+
|72.83938807631165|
+-----------------+

#### 8. (0.5p) What is the max and min of the Volume column?

In [91]:
from pyspark.sql.functions import max, min
df.select(max('Volume'), min('Volume')).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### 9. (1p) How many days was the Open lower than 60 dollars and the Close higher than 70?

In [92]:
df.filter((df['Open'] < 60) & (df['Close'] > 70)).count()

0

#### 10. (1.5p) What percentage of the time was the Close greater than 70 dollars ?

In [93]:
(df.filter(df['Close'] > 70).count() / df.count()) * 100

68.44197138314784

#### 11. (1p) What is the Pearson correlation between Open and Close?

In [94]:
from pyspark.sql.functions import corr
df.select(corr('Open', 'Close')).show()

+------------------+
| corr(Open, Close)|
+------------------+
|0.9958680008553993|
+------------------+

#### 12. (1p) What is the max Open per year?

In [95]:
from pyspark.sql.functions import year
df2 = df.withColumn('Year', year(df['Date']))
df2.groupBy('Year').max('Open').show()

+----+-----------------+
|Year|        max(Open)|
+----+-----------------+
|2015|        90.800003|
|2013|        81.209999|
|2014|87.08000200000001|
|2012|        77.599998|
|2016|             74.5|
+----+-----------------+

#### 13. (1.5p) What is the average High per month?

In [96]:
from pyspark.sql.functions import month
df2 = df.withColumn('Month', month(df['Date']))
df2.groupBy('Month').avg('High').show()

+-----+-----------------+
|Month|        avg(High)|
+-----+-----------------+
|   12|73.35566025471698|
|    1|71.97009924752473|
|    6| 72.9262265471698|
|    3|72.20289709345795|
|    5|72.71783049056604|
|    9|72.60294148039216|
|    4|73.45123863809525|
|    8|73.51781822727274|
|    7|74.77878527102803|
|   10|72.12963649090909|
|   11|72.52673264356439|
|    2|71.72845387628868|
+-----+-----------------+

#### 14. (1p) Which is the month with the max average Low?

In [100]:
df2.groupBy('Month').avg('Low').orderBy('avg(Low)', ascending=False).head(1)[0][0]

7

#### 15. (2p) Create the following pipeline:
1. Filter all the rows with a Close greater than 60
2. Create a new column called "my_column" computed by 2*Close
3. Select "Date", "my_column" and "Close" columns
4. Create a new column with the month of the year
5. Compute the average "my_column" value by month
6. Display the result

In [101]:
# Create the following pipeline:
# 1. Filter all the rows with a Close greater than 60
df2 = df.filter(df['Close'] > 60)

In [102]:
# 2. Create a new column called "my_column" computed by 2*Close
df2 = df2.withColumn('my_column', df2['Close']*2)

In [103]:
# 3. Select "Date", "my_column" and "Close" columns
df2 = df2.select('Date', 'my_column', 'Close')

In [104]:
# 4. Create a new column with the month of the year
from pyspark.sql.functions import month
df2 = df2.withColumn('Month', month(df2['Date']))

In [105]:
# 5. Compute the average "my_column" value by month
df2.groupBy('Month').avg('my_column').show()

+-----+------------------+
|Month|    avg(my_column)|
+-----+------------------+
|   12|149.17361757446807|
|    1| 145.2523908478261|
|    6| 144.9907548490566|
|    3|145.03782142574255|
|    5|147.99085102127665|
|    9| 144.3682357058823|
|    4|148.56604156250003|
|    8|146.05963710909091|
|    7|148.87943887850466|
|   10|146.40081634693874|
|   11|149.00418655813954|
|    2|144.27164901098905|
+-----+------------------+

#### 16. (2p) Create a pipeline to solve the following issue
Get the maximum Close value by week, month and year, excluding all the Mondays and Tuesdays from the data.

In [106]:
from pyspark.sql.functions import weekofyear, year, month, dayofweek
df2 = df.filter((dayofweek(df['Date']) != 1) & (dayofweek(df['Date']) != 2))
df2 = df2.withColumn('Week', weekofyear(df2['Date']))
df2 = df2.withColumn('Month', month(df2['Date']))
df2 = df2.withColumn('Year', year(df2['Date']))
df2.groupBy('Week').max('Close').orderBy('Week').show()
df2.groupBy('Month').max('Close').orderBy('Month').show()
df2.groupBy('Year').max('Close').orderBy('Year').show()

+----+-----------------+
|Week|       max(Close)|
+----+-----------------+
|   1|        86.790001|
|   2|        90.470001|
|   3|        89.309998|
|   4|        88.510002|
|   5|        87.720001|
|   6|87.33000200000001|
|   7|        87.290001|
|   8|        86.290001|
|   9|            84.57|
|  10|            83.57|
|  11|            82.07|
|  12|        83.239998|
|  13|        83.050003|
|  14|            82.25|
|  15|        81.029999|
|  16|        80.150002|
|  17|        79.839996|
|  18|        79.709999|
|  19|        79.199997|
|  20|        79.860001|
+----+-----------------+
only showing top 20 rows

+-----+-----------------+
|Month|       max(Close)|
+-----+-----------------+
|    1|        90.470001|
|    2|87.33000200000001|
|    3|            83.57|
|    4|        81.029999|
|    5|        79.860001|
|    6|            77.32|
|    7|        78.550003|
|    8|            78.75|
|    9|        77.510002|
|   10|        78.290001|
|   11|        87.540001|
|   12|        86.910004|
+-----+-----------------+

+----+----------+
|Year|max(Close)|
+----+----------+
|2012| 77.029999|
|2013| 81.209999|
|2014| 87.540001|
|2015| 90.470001|
|2016| 74.300003|
+----+----------+

#### 17. (0.5p) Compute the standat deviation of the High column and assign it an alias

In [63]:
from pyspark.sql.functions import stddev
df.select(stddev('High').alias('std')).show()

+-----------------+
|              std|
+-----------------+
|6.768186808159218|
+-----------------+

#### 18. (0.5p) Display the average Close value with just 1 decimal

In [109]:
from pyspark.sql.functions import format_number
df.select(format_number('Close', 1).alias('Close')).show()

+-----+
|Close|
+-----+
| 60.3|
| 59.7|
| 59.4|
| 59.0|
| 59.2|
| 59.0|
| 59.4|
| 59.5|
| 59.5|
| 59.8|
| 60.0|
| 60.6|
| 61.0|
| 60.9|
| 61.4|
| 61.5|
| 61.0|
| 60.7|
| 61.3|
| 61.4|
+-----+
only showing top 20 rows

#### 19. (1p) Which is the month with the highest Open value?

In [110]:
df2 = df.withColumn('Month', month(df['Date']))
df2.groupBy('Month').max('Open').orderBy('max(Open)', ascending=False).show()

+-----+-----------------+
|Month|        max(Open)|
+-----+-----------------+
|    1|        90.800003|
|    2|        87.260002|
|   12|87.08000200000001|
|   11|            86.18|
|    3|            83.93|
|    4|        82.279999|
|    5|        79.730003|
|    7|            78.68|
|    8|        78.620003|
|   10|        78.110001|
|    6|        77.459999|
|    9|        77.129997|
+-----+-----------------+

#### 20. (1p) Which is the day by month with a higher difference between the High and the Low

In [113]:
from pyspark.sql.functions import dayofmonth
df2 = df.withColumn('Day', dayofmonth(df['Date']))
df2 = df2.withColumn('Diff', df2['High'] - df2['Low'])
df2.groupBy('Day').max('Diff').orderBy('max(Diff)').show()

+---+------------------+
|Day|         max(Diff)|
+---+------------------+
| 27|1.3799969999999888|
| 23|1.4000010000000032|
| 31|  1.58000100000001|
|  5|1.6500020000000006|
|  4|              1.75|
| 12|          1.760002|
| 16|1.8199999999999932|
| 21|1.8800010000000071|
| 11| 1.889999000000003|
| 26|1.8999939999999924|
|  2|1.9400029999999902|
| 22|2.0299990000000037|
|  1|2.0400010000000037|
| 20|2.1499939999999924|
|  8| 2.150000999999989|
| 10|  2.16999899999999|
| 28|2.1899939999999987|
| 13| 2.199996999999996|
|  9|2.2099989999999963|
|  7|2.3100049999999968|
+---+------------------+
only showing top 20 rows

#### 21. (0.5p) Compute the median of the Close column
Note: You will need to explore a bit how to do it

In [114]:
df.select(mean('Close')).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### 22. (1p) Compute the difference in days between the max and the min Date
Note: You will need to explore a bit how to do it

In [115]:
from pyspark.sql.functions import datediff, max, min
df.select(datediff(max('Date'), min('Date'))).show()

+------------------------------+
|datediff(max(Date), min(Date))|
+------------------------------+
|                          1823|
+------------------------------+

In [ ]:
spark.stop()